@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  position: relative;
}

.square::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    transparent 49.5%,
    white 49.5%,
    white 50.5%,
    transparent 50.5%
  );
  pointer-events: none; /* This ensures that the line does not interfere with interactions */
}

.diagonal-line {
  height: 100%;
  position: relative;
}

.diagonal-line:after {
  content: '';
  height: 100%;
  width: 20px;
  position: absolute;
  border-top: 1px solid red;
  transform: rotate(-45deg);
  transform-origin: 0% 0%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.swatches-picker {
  scrollbar-width: thin;
  scrollbar-color: #00337c #ffffff;
}

/* Chrome, Edge, and Safari */
.swatches-picker::-webkit-scrollbar {
  width: 5px;
}

.swatches-picker::-webkit-scrollbar-track {
  background: #ffffff;
}

.swatches-picker::-webkit-scrollbar-thumb {
  background-color: #00337c;
  border-radius: 2px;
  border: 3px none #ffffff;
}

.swatches-picker::-webkit-scrollbar-button {
  display: none;
}
